<h1>New Secret</h1>

<%= form_for @secret, url: user_secrets_url(@user) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.collection_select(:tag_ids, Tag.all, :id, :name,
                                {prompt: "Select tag.."},
                                {name: "secret[tag_ids][]"}) %>
  <%= f.submit "Submit" %>
<% end %>


<script>
$("#new_secret").find("input[type='submit']").on('click', function(event) {

  event.preventDefault();

  var formData = $(this.form).serialize();

  $.ajax({
    url: $("#new_secret").attr('action'),
    type: "POST",
    data: formData,
    success: function(obj) {
      var tags = function() {
        var ar = []
        for (var i=0; i<obj.tags.length; i++) {
          ar.push(obj.tags[i].name)
        }

        ar = " Tags: " + ar.join(", ")
        return ar.length > 7 ? ar : "";
      };

      $("body > ul").append("<li>" + obj.secret.title + tags() + "</li>")
    }
  });
});

</script>